
a.btn:hover {
  color: #FCF0C8;
}


body {
  font-family: rye;
  color: #630A10;
    background-color: #FCF0C8;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 30px;
  font-family: "smokum";
}
.heading-section{

  text-align: center;
  padding: 25px 0 25px;
}

.candy-video {
  margin: 0 auto;
  text-align: center;
}

.selections{
  margin: 0 10%;
}

.card-body{
  color: #911F27;
  background-color: #F7D098;
}

.btn{
  background-color: #911F27;
  border-color: #911F27;

}
